.div_list {
	margin-top: 36px;
	margin-left: -37px;

	font-size: 17px;
	color: rgb(122,2,27);
	.elem {
		width: 200px;

		margin-left: 36px;
		margin-bottom: 36px;

		display: inline-block;
		text-align: center;
		img {
			margin-bottom: 15px;
            width: 150px;
			border: 5px solid rgb(122,2,27);
		}
        a {
         color: rgb(122,2,27);
         text-decoration: none;
        }
	}
}
