.div_content {
        color: #540316;
        font-style: italic;
 
        ._phone {
                margin-top: 25px;
                margin-bottom: 25px;
                h1 {
                        font-size: 25px;
                }
                div {
                        font-size: 18px;
                        margin-left: 125px;
                }
        }
 
        ._where {
                margin-bottom: 25px;
                h1 {
                        font-size: 25px;
                }
                div {
                        width: 540px;
                        margin-left: 125px;
                        font-size: 18px;
                }
                a {
                    text-decoration: underline;
                    color: #540316;
                }
        }
        ._map {
                display: inline-block;
                margin-bottom: 40px;
                vertical-align: top;
        }
        ._btns {
                display: inline-block;
 
                vertical-align: top;
 
                button {
                        background: #c0a062;
                        border-radius: 10px;
 
                        padding: 5px 20px;
                        margin-bottom: 20px;
                        cursor: pointer;
                        color: #540316;
                        font-size: 17px;
                        font-style: italic;
                        border-radius: 10px;
                        -moz-border-radius: 10px;
                        -webkit-border-radius: 10px;
                        text-decoration: none;
                }
        }
}