h1 {
	margin: 20px 0px;

	font-size: 16px;
	font-style: italic;
	color: #540316;
}

.div_questions {
	font-size: 17px;
	font-style: italic;
	color: #540316;

	._elem {
		margin-bottom: 30px;

		._ques {
			margin-bottom: 10px;
		}
	}
}