/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.siteWidth {
	width: 1170px;
	margin: 0 auto;
}

.div_header {
	background: #540316;
	.siteWidth {
		text-align: right;
        background: #540316;
	}
	._logo {
		text-align: left;
	}
}

._mainMenu {	
	padding: 6px 20px;

	text-align: right;
	background: #c0a062;
	border-radius: 5px 5px 0px 0px;
	display: inline-block;
	ul {
		li {
			display: inline;
			margin-left: 25px;

			color: #540316;
			font-size: 17px;
			font-style: italic;
			&:first-child {
				margin-left:0px;
			}
		}
	}

	a {
		text-decoration: none;
		color: #540316;
	}
}

._foot {
	display: inline-block;
	margin-top: 70px;
	margin-bottom: 70px;	
	margin-right: 160px;
}
._inputLogo {
	display: inline-block;
}

.div_content {
	min-height: 484px;
}

.div_footer {
	clear:both;
	background:url(../images/footer.png) repeat-x center top, #540316;
	font-style: italic;
	font-size: 20px;
    .siteWidth {
        background:url(../images/footer.png) repeat-x center top, #540316;
    }
	._contacts {
        margin: 110px 0px 50px 0px;
		display: inline-block;
		vertical-align: top;
		color: white;
		div {
			&:first-child { 
				font-size: 25px;
			}
		}
	}
	._message {       
		display: inline-block;
		vertical-align: top;
		margin-left: 460px;
		margin-top: 28px;
        .btn_sim {
            margin: 95px 0px 50px 0px;
            display: inline-block;
        }
	}
}

//Кнопки

.btn_sim {
	background: #c0a062;
	border-radius: 5px;

	padding: 5px 20px;

	color: #540316;
	font-size: 17px;
	font-style: italic;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	text-decoration: none;
}

._backForm {
                width: 100%;
                height: 100%;
 
                position: fixed;
                display: none;
 
                background: rgba(0,0,0,0.3);
 
                ._modalWindow {
                    height: 315px;
                        padding: 10px 30px;
                        position: absolute;
                        top: 20%;
                        left: 45%;
 
                        background: #c0a062;
                        border: 1px solid #540316;
                        color: #540316;
                        text-align: center;    
                        font-style: italic;
 
                        ._close {
                                position: absolute;
                                top: 0;
                                right: 0;
                                margin-right: 2px;
                                margin-top: 2px;
 
                                a {
                                        text-decoration: none;
                                        color: #540316;
                                }
                        }
 
                        img {
                                width: 100px;
 
                                margin-bottom: 10px;
                        }
 
                        form {
                                input {
                                        margin-bottom: 10px;
                                }
                                textarea {
                                        width: 152px;
                                        height: 65px;
                                        margin-bottom: 10px;
                                }
                        }
                }
}